
body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

#agenda thead {
  background-color: #00aeef;
  color: white;
}

#agenda input {
  width: 100%;
}